<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>Location</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Department</th>
            <th>Grade</th>
            <th>Approve</th>
            <th>Deny</th>

        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let form of submittedForms">
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'">{{form.first_name}}</td>
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'">{{form.last_name}}</td>
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'">{{form.start_date}}</td>
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'">{{form.start_time}}</td>
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'">{{form.location}}</td>
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'">{{form.description}}</td>
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'">{{form.cost}}</td>
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'">{{form.event_type}}</td>
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'">{{form.grade_id}}</td>
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'"><button (click)="approve(this.form)">Approve</button></td>
            <td *ngIf="form.approved != 'APPROVED' && form.submitted == 'yes'"><button (click)="deny(this.form)">Deny</button></td>
        </tr>
        
    </tbody>
</table>

