<div *ngIf="isLoggedIn == false">
    <h3>Login Here!</h3>

    <h4><em>Employee</em></h4>
    <form [formGroup]="myLogin">
        Value: {{myLogin.value | json}}
        <br />

        <input placeholder="Enter username" formControlName="name">
        <br />
        <input placeholder="Enter your password" formControlName="password">
        <input (click)="onClick()" type="submit" value="Login" />
    </form>
</div>

<app-tuition-form [loggedIn]="isLoggedIn" [employee]="employee"></app-tuition-form> 
