.container{
 
}
form{
    background-color: #9590c2;
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    max-width: 75%;
    border: 2px solid gray;
    border-radius: 4px;
}
form input{
    padding: 1.25em;
    margin: 0.25em;
    width: 50%;
    box-sizing: border-box;
}
form textarea{
    padding: 0.25em;
    margin: 0.25em;
    width: 50%;
    height: 100px
}
form label{
    vertical-align: top;
}
form select{
    padding: 0.25em;
    margin: 0.25em;
    width: 25%;
}


input[type=submit] {
    max-width: 25%;
    color: #9590c2;;
    background-color: white;
    
}
input[type=submit]:hover {
    color: white;
    background-color:#90c292;
    border-radius: 4px;

}

button[type=submit] {

    width: 25%;
    color: #9590c2;;
    background-color: white;
    
}
button[type=submit]:hover {
    padding: 1.25em;
    margin: 0.25em;
    box-sizing: border-box;
    color: white;
    background-color:#ca4220;
    border-radius: 4px;

}
span{
    color: black;
}