<div *ngIf="form.approved !== 'APPROVED'">
<h1>Would you like to edit your form?</h1>

    <form [formGroup]="myTuitionForm">
            <h3>Tuition Form</h3>
        <label for="first_name">First Name: </label>
        <input formControlName="first_name" type="text" id="first_name" placeholder="Enter First Name">
        <br />
        <label for="last_name">Last Name: </label>
        <input formControlName="last_name" type="text" id="last_name" placeholder="Enter Last Name">
        <br />
        <label for="event_date">Event Date: </label>
        <input formControlName="start_date" type="date" id="event_date">
        <br />
        <label for="event_time">Event Time: </label>
        <input formControlName="start_time" type="time" id="event_time">
        <br />
        <label for="location">Location: </label>
        <input formControlName="location" type="string" id="location">
        <br />
        <label for="description">Description: </label>
        <textarea formControlName="description" type="textarea" id="description">
                </textarea>
        <!-- Event Cost -->
        <br />
        <label for="cost">Event Cost:</label>
        <input formControlName="cost" type="number" id="event_cost">
        <!-- Grade Format -->
        <br />
        <label for="grade">Grading: </label>
        <select formControlName="grade_id" name="grade" id="grade">
            <option value=1>N/A</option>
            <option value=2>Pass</option>
            <option value=3>Fail</option>
            <option value=4>Presentation</option>
        </select> <span> Select 'N/A' if event hasn't happened yet.</span>
        <!-- Work Related Justification -->
        <br />
        <label for="department">Event Type: </label>
        <select formControlName="event_type" name="department" id="department">
            <option value="Course">Course</option>
            <option value="Seminar">Seminar</option>
            <option value="Cert Prep">Cert Prep</option>
            <option value="Cert">Cert</option>
            <option value="Tech Training">Tech Training</option>
        </select>
        <!-- Attachments-->
        <br />
        <!-- <label for="attachments">Additional Information</label>
        <input type="file" id="attachments"> -->
        <!-- Submit -->
        <br />
        <input type="submit" (click)="onSubmit()" value="Update Form">
        <button type="submit" (click)="submitForApproval()" >Submit for Approval</button>
    </form>
</div>
<div>
    Your form has been approved, so no more edits can be made.
</div>

