<h3>Tuition Form</h3>
<form>  

    <label for="first_name">First Name: </label>
    <input [(ngModel)]="form.first_name" type="text" id="first_name" placeholder="Enter First Name"> 
    <br/>
    <label for="last_name">Last Name: </label>
    <input [(ngModel)]="form.last_name" type="text" id="last_name" placeholder="Enter Last Name">
    <br/>
    <label for="event_date">Event Date: </label>
    <input type="date" id="event_date"> 
    <br/>
    <label for="event_time">Event Time: </label>
    <input type="event_time" id="event_time">
    <br/>
    <label for="location">Location</label>
    <input [(ngModel)]="form.location" type="string" id="location">
    <br/>
    <label for="description">Description: </label>
    <textarea [(ngModel)]="form.description" type="textarea" id="description">
    </textarea>
    <!-- Department Head or Direct Supervisor -->
    <br />
    <label for="location">Location</label>
    <input [(ngModel)]="form.location" type="string" id="location">
    <!-- Event Cost -->
    <br />
    <label for="location">Location</label>
    <input [(ngModel)]="form.location" type="string" id="location">
    <!-- Grade Format -->
    <br />
    <label for="location">Location</label>
    <input [(ngModel)]="form.location" type="string" id="location">
    <!-- Work Related Justification -->
    <br />
    <label for="location">Location</label>
    <input [(ngModel)]="form.location" type="string" id="location">
    <!-- Attachments-->
    <br />
    <label for="location">Location</label>
    <input [(ngModel)]="form.location" type="string" id="location">
    <!-- Submit -->
    <input type="submit" value="Request Reimburment">
</form>