<div class="header">
    <h2>JP Inc. Tuition Reimbursement Center</h2>
</div>
<div *ngIf="isLoggedIn == true">
    <nav>
        <a routerLink="/tuitionForm/{{this.employee.user_id}}">Request for Reimbursement</a>
        <a routerLink="/editForm/{{this.employee.user_id}}"> Edit Your Form</a>
        <span *ngIf="status == 'benefits' || status == 'supervisor'">
        <a routerLink="/submittedForms">View Pending Forms</a>
        </span>
        <a routerLink="/" (click)="logOut()"> Log Out</a>
    </nav>
</div>
<div *ngIf="isLoggedIn == false">
        <h3>Login Here!</h3>
        <div class="form-wrapper">
            <form [formGroup]="myLogin">
                <br />
                <label for="username">Username: </label>
                <input placeholder="Enter username" formControlName="name">
                <br />
                <label for="password">Password: </label>
                <input placeholder="Enter your password" formControlName="password">
                <div class="row">
                    <button id="employee" (click)="employeeLogin()"><em>Employee</em></button>
                    <button id="supervisor" (click)="supervisorLogin()"><em>Supervisor</em></button>
                    <button id="benco" (click)="benefitsLogin()"><em>Benefit Co.</em></button> 
                </div>
            </form>
        </div>
</div>
<router-outlet></router-outlet>