<h2>Welcome</h2>
<div *ngIf="isLoggedIn == true">
    <nav>
        <a routerLink="/tuitionForm">Request for Reimbursement</a>
        <a routerLink="/editForm/{{this.employee.user_id}}"> Edit Your Form</a>
        <span *ngIf="status == 'benefits' || status == 'supervisor'">
        <a routerLink="/submittedForms">View Pending Forms</a>
        </span>
        <a routerLink="/" (click)="logOut()"> Log Out</a>
    </nav>
</div>
<div *ngIf="isLoggedIn == false">
        <h3>Login Here!</h3>

        <form [formGroup]="myLogin">
            <br />
            <input placeholder="Enter username" formControlName="name">
            <br />
            <input placeholder="Enter your password" formControlName="password">
            <div class="row">
                <button (click)="employeeLogin()"><em>Employee</em></button>
                <button (click)="supervisorLogin()"><em>Supervisor</em></button>
                <button (click)="benefitsLogin()"><em>Benefit Co.</em></button> 
            </div>
        </form>
</div>
<router-outlet></router-outlet>