<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TuitionReimbursement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Users</display-name>
    <servlet-name>Users</servlet-name>
    <servlet-class>com.tuition.servlets.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TuitionFormServlet</display-name>
    <servlet-name>TuitionFormServlet</servlet-name>
    <servlet-class>com.tuition.servlets.TuitionFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TuitionFormServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tuition.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginServlet</display-name>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>com.tuition.servlets.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/employee/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTuitionForm</display-name>
    <servlet-name>GetTuitionForm</servlet-name>
    <servlet-class>com.tuition.servlets.GetTuitionForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTuitionForm</servlet-name>
    <url-pattern>/getForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleUserServlet</display-name>
    <servlet-name>SingleUserServlet</servlet-name>
    <servlet-class>com.tuition.servlets.SingleUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleUserServlet</servlet-name>
    <url-pattern>/singleUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BenCoServlet</display-name>
    <servlet-name>BenCoServlet</servlet-name>
    <servlet-class>com.tuition.servlets.BenCoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenCoServlet</servlet-name>
    <url-pattern>/benco/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorServlet</display-name>
    <servlet-name>SupervisorServlet</servlet-name>
    <servlet-class>com.tuition.servlets.SupervisorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorServlet</servlet-name>
    <url-pattern>/supervisor/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeServlet</display-name>
    <servlet-name>GetEmployeeServlet</servlet-name>
    <servlet-class>com.tuition.servlets.GetEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeServlet</servlet-name>
    <url-pattern>/getEmployee</url-pattern>
  </servlet-mapping>
</web-app>